body {
    font-family: 'DM Sans', sans-serif;
    background-color: #191919;
    color: #FFF;
}

h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}


a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*HEADER*/

.header__container {
    display: flex;
    height: 119px;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav__link {
    font-size: 18px;
    line-height: 27px;
}

.nav__link:hover {
    color: #118DA8;
}

/*HERO*/

.hero__container {
    display: flex;
    align-items: center;
    padding: 40px 50px 0 50px;
}

.hero__image {
    position: relative;
}

.hero__decorate {
    position: absolute;
    left: -26px;
    top: -26px;
}

.hero__content {
    margin: 0 60px;
}

.hero__title {
    margin: 0;
    margin-bottom: 70px;
    font-weight: 400;
    font-size: 70px;
    line-height: 88px;
    letter-spacing: 3.2px;
}

.hero__listen-caption {
    display: block;
    margin-bottom: 16px;
    font-size: 15px;
    line-height: 24px;
}

.hero__title-bold {
    font-weight: 700;
}

/*РАЗОБРАТЬ ПОТОМ*/

.hero__title-underlined {
    position: relative;
    display: inline-block;
}

.hero__title-underlined::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 11px;
    bottom: 0;
    left: 0;
    background-image: url("../img/next.svg");
    background-position: center;
}

/*ДО СЮДА*/

.social {
    display: flex;
    gap: 17px;
}


/*LATEST EPISODES*/

.episodes {
    margin-bottom: 160px;
}

.episodes__top {
    display: flex;
    height: 100px;
    margin-top: 93px;
    margin-bottom: 40px;
    justify-content: space-between;
    align-items: center;
}

.episodes__title {
    font-weight: 400;
    font-size: 64px;
}

.episodes__nav {
    display: flex;
    gap: 1px;
}

.btn {
    /*appearance: none;*/
    /*-webkit-appearance: button;*/
    /*-moz-appearance: none;*/
    font-family: inherit;
    margin: 0;
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    line-height: 27px;
    color: inherit;
    background-color: #ffffff33;
    cursor: pointer;
    outline: none;
}

.episodes__nav-item:first-child .episodes__nav-btn {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.episodes__nav-item:last-child .episodes__nav-btn {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.btn--active {
    background-color: #118DA8;
}


.episodes-card {
    display: flex;
    padding: 40px;
    background-color: #000;
    margin-bottom: 60px;
    border-radius: 32px;
}

.episodes-card__content {

    margin-left: 53px;
}

.episodes-card__category {
    display: inline-block;
    margin-bottom: 50px;
    border-radius: 6px;
    padding: 0 16px;
    font-size: 18px;
    line-height: 27px;
    background-color: #191919;
}

.card__subtitle {
    display: block;
    color: #118DA8;
    margin-bottom: 18px;
}

.card__title {
    margin: 0;
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: 2.56px;
}

.episodes-card__btn {
    border-radius: 6px;
    background-color: #118DA8;
}

.card__description {
    color: rgba(255, 255, 255, 0.70);
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
}

/*ABOUT THE HOST*/

.about-host__container, .email-subscription__container {
    display: flex;
    padding: 100px 50px;
    align-items: center;
    justify-content: space-between;
}

.about-host__content {
    margin-right: 60px;
}

.arrow-image {
    margin-bottom: 20px;
}

.about-host .card__subtitle, .email-subscription .card__subtitle {
    margin-bottom: 0;
    font-weight: 400;
}

/*EMAIL САБСКРИПТИОН*/

.email-subscription {
    margin: 100px 0;
}

.email-subscription__container {
    position: relative;
}

.email-subscription__container {
    background-color: #000;
    border-radius: 32px;
    padding: 60px 60px 75px 60px;
}

.email-subscription img {
    position: absolute;
    left: -38px;
    bottom: -26px;
}

.form-control {
    margin-bottom: 20px;
    position: relative;
}

input[type="text"],
input[type="email"] {
    width: 522px;
    height: 70px;
    background-color: #191919;
    color: #118DA8;
    font-family: inherit;
    font-size: 24px;
    padding-left: 19px;
    border: none;
    border-radius: 0;
}

label {
    position: absolute;
    font-size: 24px;
    top: 50%;
    left: 19px;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.70);
    pointer-events: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

input[type="text"]:focus + label,
input[type="email"]:focus + label {
    display: none;
}

button[type="submit"] {
    display: block;
    width: 87px;
    height: 48px;
    padding: 10px;
    background-color: #118DA8;
    font-family: inherit;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #047e9c;
}

/*РЕВЬЮС ËПТА*/

.reviews {
    padding: 100px 0;
}

.reviews__container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 364px);
    gap: 16px;
}

.reviews__card {
    background-color: #000;
    border-radius: 32px;
    padding-left: 50px;
    padding-top: 54px;
    padding-right: 56px;
}

.reviews__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 120%;
}

.reviews__name {
    color: rgba(255, 255, 255, 0.70);
    font-size: 24px;
}



.reviews__card::before {
    content: "";
    display: block;
    width: calc(18px * 5);
    height: 17px;
    margin-bottom: 20px;
    background-image: url("../img/star.svg");
}


/*FOOTER*/

.footer__container {
    display: flex;
    justify-content: space-between;
    height: 300px;
    padding: 100px 50px 0 50px;
}

.footer img {
    margin-bottom: 23px;
}

.footer__social {
    display: flex;
    gap: 10px;
}

.footer__block-2 {
    display: flex;
    justify-content: space-between;
    width: 620px;
}

.footer__block-2 ul {
    width: 180px;
}

.footer__block-2 li {
    margin-bottom: 10px;
}

.footer__block-2 a {
    font-size: 17px;
    font-weight: 400;
}

